# Ignore all executables
*.exe
*.out
*.o

graph_test
graph_repartitioning

# Ignore all test files except for graph_test.cpp
tests/*
!tests/graph_test.cpp

third_party/SharedMap
build/

bigGraph
graph_output.txt
test4
testWriteGraph
TODO.txt