# Ignore all executables
*.exe
*.out
*.o

graph_test
graph_repartitioning

/.vscode

# Ignore all test files except for graph_test.cpp
tests/*
!tests/graph_test.cpp

third_party/SharedMap
build/

bigGraph
graph_output.txt
test4
testWriteGraph
TODO.txt
include/fileUtils_backup.txt

experiments/*.txt
experiments/sharedExperiments/*.png

experiments/graphRFSExperiments/*.png
experiments/graphRFSExperiments/*.txt
experiments/graphRFSExperiments/Graph_metis
experiments/graphRFSExperiments/Graph_partition
experiments/graphRFSExperiments/out_graph

experiments/graphLSExperiments/*.png
experiments/graphLSExperiments/*.txt
experiments/graphLSExperiments/Graph_metis
experiments/graphLSExperiments/Graph_partition
experiments/graphLSExperiments/out_graph